<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>A First App</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div id="app">
    <div>
      <label for="goal">Goal</label>
      <input v-model="enteredValue" type="text" id="goal" />
      <button @click="addGoal">Add Goal</button>
    </div>

    <ul>
      <li v-for="goal in goals" :key="goal.id">{{ goal.text }}</li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          enteredValue: '',
          goals: []
        };
      },
      methods: {
        addGoal() {
          this.goals.push({ id: Date.now(), text: this.enteredValue });
          this.enteredValue = '';
        }
      }
    });

    app.mount('#app');
  </script>
</body>
</html>
